body{
    margin: 0;
    padding: 0;
}
.container{
    display: flex;
    align-items: center;/*对齐方式*/
    padding: 20px;
    justify-content: space-between;/*flex容器内的元素分布方式*/
}
.item { 
    width: 150px;
	border:1px solid #f00;
    margin: 20px;
}
.item1 {
	height: 120px;
}
.item2 {
	height: 100px;
}
.item3 {
	height: 40px;
}
.item4 {
	height: 200px;
	border-color: #00f;
}
@media (max-width:640px){
    .item4{
        order: -1;
    }
    .container{
        align-items: flex-start;
        flex-wrap: wrap;/*flex容器为多行，溢出的部分放到新行*/
    }
}